header {
	background-color: #ffffff;
	color: #000000;
}

aside {
	background-color: #ffffff;
	color: #000000;
}

body {
	background-color: #ffffff;
	color: #000000;
}

footer {
	background-color: #ffffff;
	color: #000000;
}
