html {
	background-color: #000000;
	color: #ffffff;
	font-family: 'Abel', sans-serif;
	background-image: url(../backgroundimage2.jpg);
}

#header {
	background-color: #6acccd;
	padding-left: 10%;
	padding-right: 10%;
	color: #000000;
	margin: 0 auto;
	font-size: 20px;
	color: #c23720;
	line-height: 200%
}

#tokenjewishfriend {
	position: right;
}


#container {
	padding-left: 10%;
	padding-right: 10%; 
	background-color: #d45218;
	background-image: url(../backgroundimage1.jpg);
	margin: 0 auto;
}

#logo {
	width: 50%;
	height: 50%;
	padding-left: 27%;
	padding-right: 73%;
	background-color: #6acccd;
}

#aside {
	background-color: #c23720;
	color: #d45218;
	font-family: 'Open Sans', sans-serif;
	font-size: 90%;
	position: fixed;
	border-top-right-radius: 10%;
	border-top-left-radius: 10%;
	border-bottom-left-radius: 40%;
	border-bottom-right-radius: 40%;
	padding-left: 8px;
	padding-right: 8px;
	background-size: 60%;
	border: 2px solid orange;
	text-decoration: none;
	line-height: 90%;
	float: left;
}

#body {
	text-align: center;
	background-color: rgba(91, 19, 39, .8);
	color: #d45218;
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	margin-top: 0;
	border-top-right-radius: .5%;
	border-top-left-radius: .5%;
	border-bottom-left-radius: .5%;
	border-bottom-right-radius: .5%;
	justify-content: center;
	border: 2px solid orange;
}

#portrait {
	width: 40%;
	height: 40%;
}

iframe
{
	border: 0; width: 350px; height: 470px;
	border-radius: 16px;
	}


footer {
	background-color: rgba(91, 19, 39, .8);
	color: #d45218;
	font-family: 'Open Sans', sans-serif;
	list-style: circle;
	margin: 0 auto;
	position: center;
	height: 200px;
	width: auto;
	font-size: 25%;
	line-height: 90%;
	border-color: orange;
}

p {
	text-align: justify;
	word-spacing: 1.5;
	margin: 0;
	padding: 0;
	padding-left: 10%;
	padding-right: 10%;
}

ul {
	list-style: none;
	text-align: left;
	line-height: 300%
}

h1 {
	position: center;
	text-align: center;
	text-indent: none;
}

a:visited {
	color: white;
	text-underline-position: none;
}

a:hover {
	color: cyan;
}

a:active {
	color: purple;
}