html {
	background-color: rgba(255,0,255,.40);
	color: #ffffff;
	font-family: 'Abel', sans-serif;
	background-image: url(../backgroundimage2.jpg);
}

#header {
	background-color: #6acccd;
	padding-left: 10%;
	padding-right: 10%;
	border-radius: 12px;
	color: #000000;
	margin: 0 auto;
	font-size: 18px;
	border: 2px solid orange;

}

#tokenjewishfriend {
	float: right;
}


#container {
	padding-left: 10%;
	padding-right: 10%; 
	background-color: #d45218;
	background-image: url(../backgroundimage1.jpg);

}

#logo {
	width: 20%;
	height: 20%;
	padding-left: 15%;
	padding-right: 85%;
	background-color: #6acccd;
}

#aside {
	background-color: #c23720;
	color: #d45218;
	font-family: 'Open Sans', sans-serif;
	font-size: 80%;
	position: fixed;
	border-top-right-radius: 10%;
	border-top-left-radius: 10%;
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	padding-left: 8px;
	padding-right: 8px;
	background-size: 60%;
	border: 2px solid orange;
}

#body {
	background-color: #5b1327;
	color: #d45218;
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	margin-top: 0;
	justify-content: left;
}

#portrait {
	width: 40%;
	height: 40%;
}

iframe
{
	border: 0; width: 350px; height: 470px;
	border-radius: 16px;
	}


#footer {
	background-color: #5b1327;
	color: #d45218;
	font-family: 'Open Sans', sans-serif;
	list-style: circle;
	margin: 0 auto;
}

p{text-align: left;}

ul {
	list-style-image: url(../guitarpickicon.png);
}
